.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background: linear-gradient(rgba(35,35,35,0.5),rgba(35,35,35,0.5)), url('./images/containers.jpeg') no-repeat;
  height: 100%;
  background-size: cover;
}

/*.home-wrapper {
  visibility: hidden;

}*/

.homer {
  background-color: #e2e0e0;
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  margin-left: 350px;
  margin-top: 200px;
  opacity: .9;
  text-align: center;
  box-shadow: 10px #e2e0e0;  
  /*border-radius: 5px;*/
/*  margin-left: -50px;  margin is -0.5 * dimension 
  margin-top: -25px;*/
}

.under-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-family: Goudy Old Style;
  font-size: 16px;
}

.store {
  font-family: American Typewriter;
}

.buttons {
  margin-top: 70px;
  display: inline-block;

}

li {
  margin-left: 20px;
  margin-top: 10px;
  float: right;
}

.navbar-nav {
  float: right;
}

.navbar-header {
  float: left;
  font-family: 'Playfair Display', 'Georgia', serif;
  font-size: 24px;
}

.home-title {
  margin-top: 70px;
}

.register-form-name, .login-form-whole{
  margin-top: 75px;
}


.register-wrapper, .login-wrapper{
  display: block;
  text-align: center;
  
}

.register-form-whole, .login-form-whole {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  text-align:left;
/*  background-color: lightgreen;*/
/*  padding: 40px;*/
}

.accounts-wrapper {
  background-color: #e2e0e0;
  display: block;
  position: absolute;
  width: 50%;
  height: 75%;
  margin-left: 350px;
  margin-top: 150px;
  opacity: 1;
  text-align: center;
  box-shadow: 10px #e2e0e0;  
}

.empty-form {
  width: 600px;
}

